<!-- 👇Remove this markup when converting to a handlebars template 👇 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Music Store</title>
</head>
<body>
<!-- 👆Remove this markup when converting to a handlebars template👆 -->
  <header>
    <div class="header-container">
      <a href="/">
        <h1 class="logo">Music Shop🎸</h1>
      </a>
      <!-- TODO: Replace the below value with the real cart count -->
      <a href="/cart" class="cart-link">Cart (3)</a>
    </div>
  </header>
  <main>
    <h2>Items for Sale</h2>
    <section id="saleItems">
<!-- TODO: 👇Use a handlebars each helper to loop over inventory items👇 -->
      <!-- replace with product id -->
      <a href="/product/1" class="sale-item">
        <div class="item-img-container">
          <!-- replace with product image and name -->
          <img src="images/strat.jpg" alt="Stratocaster" />
          <!-- replace with product description -->
          <p>One of the most iconic electric guitars ever made.</p>
        </div>
  <!-- replace with product name and price -->
        <p>Stratocaster</p>
        <p>$599.99</p>
      </a>
<!-- TODO: 👆Use a handlebars each helper to loop over inventory items👆 -->
    </section>
  </main>
  <footer>
    <p>&copy; Music Shop</p>
  </footer>
<!-- 👇Remove this markup when converting to a handlebars template 👇 -->
</body>
</html>
<!-- 👆Remove this markup when converting to a handlebars template👆 -->